{% extends base %}

<!-- Addition to head -->
{% block postamble %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

<!-- Addition to body -->
{% block contents %}
<div class="container-fluid">
  <h1>New Beginnings Finance Report</h1>
  <div class="row">
     <div class="col-md-4">
       {{ embed(roots.parameters) }}
     </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-4 col-xs-6">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Total Expenses</h5>
                  <h5 class="card-text">{{ embed(roots.total_expenses) }}</p>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-xs-6">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Total Income</h5>
                  <p class="card-text">{{ embed(roots.total_income) }}</p>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-xs-6">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Net Profit</h5>
                  <p class="card-text">{{ embed(roots.net_profit) }}</p>
              </div>
          </div>
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                {{ embed(roots.barplot) }}
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                {{ embed(roots.table) }}
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
